@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 24px;
    color: #333;
  }
  
  .input_field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input_field input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .input_field button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .todo_list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo_list input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo_list label {
    flex-grow: 1;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .todo_list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #999;
  }

  .todo_list input[type='text'] {
    
  }
  
  .todo_list button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .todo_list button.update {
    background-color: #ffc107;
    margin-left: 10px;
  }
  